<div class="col-md-12" id="footer">
  <%= image_tag '/img/logo_footer.png', :class => 'center-block img-responsive' %>
  <h1 class="text-center">Tienda: Santo Domingo #863 local 6 | Oficina: Santo Domingo #848 oficina 205, Galería Consistorial | Teléfono: +56 9 5731 3348</h1>
  <a href="mailto:ventas@gphone.cl" class="text-center"><h1>ventas@gphone.cl</h1></a>
</div>
