    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">BATERÍAS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Alcatel</a></li>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Blackberry</a></li>
                <li><a href="#">Huawei</a></li>
                <li><a href="#">LG</a></li>
                <li><a href="#">Motorola</a></li>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Sony</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">CARGADORES <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Dell</a></li>
                <li><a href="#">HP</a></li>
                <li><a href="#">Lenovo</a></li>
                <li><a href="#">Sony</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">CELULARES <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Alcatel</a></li>
                <li><a href="#">Azumi</a></li>
                <li><a href="#">Samsung</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">CHIP <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Claro</a></li>
                <li><a href="#">Entel</a></li>
                <li><a href="#">Lenovo</a></li>
                <li><a href="#">Alcatel</a></li>
                <li><a href="#">Virgin</a></li>
                <li><a href="#">WOM</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ELÉCTRONICA MENOR <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Acc. Celulares</a></li>
                <li><a href="#">Audífonos</a></li>
                <li><a href="#">Cables</a></li>
                <li><a href="#">Carcasas</a></li>
                <li><a href="#">Cargadores</a></li>
                <li><a href="#">Memorias</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>  