<div class="col-md-12" id="comprar">


<h1>CÓMO COMPRAR?</h1>
<ol>
  <li>
    Agrega el o los productos a tu carro de compras. Cuando hayas terminado ve a tu carro de compras e inicia sesión para continuar.
    Si no eres usuario registrado podrás registrarte en esa misma pagina.
  </li>
  <br>
  <li>
    Si vas a retirar el producto en nuestra tienda, deberás indicarlo en <strong>"Información Adicional"</strong>.
  </li>
  <br>
  <li>
    Recibiras un email con la confirmación de tu pedido.
  </li>
  <br>
  <li>
    Si existe stock, realiza una transferencia bancaria a alguna de las siguientes cuentas:
      <br><br>
      <ul>
        <li>
          José Arellano Arellano
        </li>
        <li>
          Rut: 12.027.658-1
        </li>
        <li>
          Banco BCI
        </li>
        <li>
          Cuenta Vista Nº 94996024
        </li>
        <li>
          ventas@gphone.cl
        </li>
      </ul>
      <br>
      <ul>
        <li>
          José Arellano Arellano
        </li>
        <li>
          Rut: 12.027.658-1
        </li>
        <li>
          Banco Falabella
        </li>
        <li>
          Cuenta Corriente Nº 15120063950
        </li>
        <li>
          ventas@gphone.cl
        </li>
      </ul>
  </li>
  <br>
  <li>
    Envía el respaldo de tu transferencia al correo ventas@gphone.cl y recibirás un correo con la aprobación de tu compra.
  </li>
</ol>
<br>

</div>
