<div class="col-md-12" id="nosotros">
  <h1>NOSOTROS</h1>
    <div class="col-md-10 col-md-offset-1">
      <p>
        Desde el año 2001 iniciamos nuestros servicios de reparación de celulares y repuestos en el corazón de Santiago en calle San Martin,
        siendo conocidos desde ese entonces popularmente como “El Hospital del Celular”…
      </p>
      <p>
        Con el paso del tiempo hemos crecido en infraestructura con nuestra tienda ubicada en calle Santo Domingo y nuestra oficina
        central en Galería Consistorial, fuimos agregando más productos a nuestro catálogo principalmente Baterías dónde nos
        especializamos desde hace un par de años y hoy somos los mayores importadores de Baterías para todas las marcas y
        modelos de celulares del país.
      </p>
      <br>
    </div>
</div>
