<div class="col-md-12" id="tecnico">
  <h1>SERVICIO TÉCNICO</h1>
  <div class="col-md-10 col-md-offset-1">
    <p>
      Contamos con Servicio Técnico especializado en Smartphones y equipos portátiles, nuestro equipo de técnicos capacitado
      para diagnosticar, verificar y reparar tus problemas.
    </p>
    <p>
      Además, disponemos de un amplio catálogo de repuestos y piezas para tus dispositivos.
    </p>
    <p>
      Dudas y/o consultas al fono +56 9 4181 9127
    </p>
    <%= image_tag '/img/servicio_tecnico.png', :class => 'center-block img-responsive' %>
    <br>
  </div>
</div>
