<div class="col-md-12" id="sucursales">
  <h1>SUCURSALES</h1>
  <h2>TIENDA</h2>
  <h3>Santo Domingo #863 Local 6 | Santiago Centro</h3>
  <%= image_tag '/img/local.jpg', :class => 'center-block img-responsive' %>
  <h2>OFICINA CENTRAL - SHOWROOM</h2>
  <h3>Santo Domingo #848 Oficina 205 Galería Consistorial | Santiago Centro</h3>
  <%= image_tag '/img/showroom.jpg', :class => 'center-block img-responsive' %>
</div>
